.confirmBuy{
    min-height: 13.33rem;
    composes:bgColor f30 c333  from '../css/base.css';
}
.title{
    height: 0.88rem;
    line-height: 0.88rem;
    composes:bgColorF tc f32 mb24 from '../css/base.css';
}
.actually{
    display: flex;
    justify-content: space-between;
    composes:pl24 pr24 from '../css/base.css';
}
.amount{
    color:#FF4243;
}
.purchase{
    background: #4dc0ff;
    color: #ffffff;
    height: 1rem;
    line-height: 1rem;
    border-radius: 0.1rem;
    margin:1.2rem 0.36rem 0 0.36rem;
    composes:tc from '../css/base.css';
}