.my_collect_box{
    min-height: 13.33rem;
    composes:bgColor from '../css/base.css';
}
.collectKindSkip{
    display: flex;
    height:1.3rem;
    align-items: center;
    line-height: 1.3rem;
    border-bottom: 0.01rem solid #E3E3E3;
    padding-bottom: 0.02rem;
    composes:bgColorF tc from '../css/base.css';
}
.halving{
    width: 0.01rem;
    height:1rem;
    background: #E3E3E3;
}
.skipProduct{
    flex:1;
    border-bottom: 0.04rem solid #FFFFFF;
    composes:f36 from '../css/base.css';
}
.stationList{
}
.stationList_item{
    display: flex;
    height:2.4rem;
    padding-bottom:0.2rem;
    border-bottom: 0.01rem solid #EEEFF3;
    background: #FFFFFF;
}
.item_pic{
    width: 2.1rem;
    height:2.1rem;
    margin: 0.2rem;
}
.item_descript{
    width: 100%;
    margin-right: 0.26rem;
    margin-top: 0.24rem;
}
.item_station_name{
    color: #333333;
    composes:f32 from '../css/base.css';
}
.item_station_approve{
    position: absolute;
    height:0.3rem;
    margin-top: 0.12rem;
    margin-left: 0.16rem;
}
.item_station_evaluate{
    margin-top:0.28rem;
    color: #999999;
    composes:f24 from '../css/base.css';
}
.item_evaluate_sale{
    margin-left: 0.34rem;
}
.item_station_address{
    margin-top: 0.3rem;
    padding-left: 0.4rem;
    background: url(../images/address-05.png) no-repeat left center;
    background-size: 0.3rem;
    color: #999999;
    composes:f24 from '../css/base.css';
}