.station_box{
    height:12.15rem;
    background: #EEEFF3;
}
.headLocation{
    display: flex;
    height:0.84rem;
    line-height: 0.84rem;
    composes:pl24 pr24 from '../css/base.css';
}
.order_titleCity{
    flex:1.3;
    display: flex;
    align-items:center;
    composes: f26 from '../css/base.css';
}
.triangle{
    display: inline-block;
    margin-left: 0.1rem;
    margin-top: 0.05rem;
    height:0;
    width: 0;
    border-color: #999 #EEEFF3 #EEEFF3 #EEEFF3;
    border-style:solid;
    border-width:0.06rem 0.06rem 0 0.06rem;
}
.sentAddress{
    flex:4;
    display: flex;
    position: relative;
    /*background: url(../images/address-05.png) no-repeat left center;*/
    background-size: 0.3rem;
    color: #333333;
    composes:f28 from '../css/base.css';
}
.sentAddress_tip{
    flex:1;
}
.sentAddress_detail{
    flex:2;
    overflow: hidden;
}
.more_right_btn{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn_pic{
    height:0.42rem;
    width:0.33rem;
}
.stationList{
    background: url(../images/line.png) no-repeat;
    padding-top: 0.04rem;
    background-size: 7.5rem 0.04rem;
}
.stationList_item{
    display: flex;
    height:2.4rem;
    border-bottom: 0.01rem solid #EEEFF3;
    background: #FFFFFF;
}
.item_pic{
    width: 1.9rem;
    height:1.9rem;
    margin: 0.24rem 0.26rem;
}
.item_descript{
    width: 100%;
    margin-right: 0.26rem;
    margin-top: 0.24rem;
}
.item_station_name{
    color: #333333;
    composes:f32 from '../css/base.css';
}
.item_station_approve{
    position: absolute;
    width: 0.52rem;
    height:0.26rem;
    margin-top: 0.13rem;
    margin-left: 0.16rem;
}
.item_station_evaluate{
    margin-top:0.28rem;
    color: #999999;
    composes:f24 from '../css/base.css';
}
.item_evaluate_sale{
    margin-left: 0.34rem;
}
.item_station_address{
    margin-top: 0.3rem;
    padding-left: 0.4rem;
    background: url(../images/address-05.png) no-repeat left center;
    background-size: 0.3rem;
    color: #999999;
    composes:f24 from '../css/base.css';
}